@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-size: 16px; /* Base font size */
}

.youtube-video {
    position: absolute;
    top: 0.23442%; /* Distance from the top of the screen */
    right: 1%; /* Distance from the right side of the screen */
    width: 50vw; /* Adjust the width as needed */
   max-height: 30vh; /* Adjust the height as needed */
   min-height: 30vh;
    border: none;
    z-index: 1000; /* Ensures the video is on top of other content */
    margin: 2vw;
}

.user-profile {
    position: relative;
    justify-content: left;
    margin-top: 5%;
    left: 2%; /* Distance from the left side of the screen */
    width: 20vw; /* Adjust the width of the profile picture */
    height: 20vw; /* Adjust the height of the profile picture */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid white; /* Optional: add a white border */
  /*  z-index: 1000; /* Ensures the profile picture is on top of other content */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.iframe {
    margin-top: 20px;
    border: none;
    width: 50vw;
    height: 30vh;
    position: fixed;
}

.aboutme {
    position: relative; 
    margin: 15vh auto 0;
    background-color: rgba(255, 255, 255, 0.166);
    padding: 2vw;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: rgb(134, 2, 2); 
    text-shadow: 2% 2% 4% #000;
    width: 80%;
}

.aboutme h2 {
    position: relative;
    margin-bottom: 15px;
    color: rgb(134, 2, 2); 
    text-shadow: 2px 2px 4px #000;
    font-size: 3rem; /* Responsive font size */
}

.aboutme p {
    position: relative;
    margin: 5px 0 0;
    font-size: 2rem; /* Responsive font size */
    color: #dbcfcf;
    text-shadow: 2px 2px 4px #000;
}

.aboutme h5 {
    position: relative;
    margin: 0; 
    padding: 0; 
    font-size: 1.5rem; /* Responsive font size */
    text-shadow: 2% 2% 4% #000; 
    color: #dbcfcf;
    overflow: hidden;
}

.projects {
    position: relative;
    margin-top: 60vh auto 0; 
    background-color: rgba(255, 255, 255, 0.166);
    padding: 5vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.projects h2 {
    position: relative;
    justify-content: left;
    margin-bottom: 15px; 
    color: rgb(134, 2, 2);
    text-shadow: 2px 2px 4px #000; 
    font-size: 4rem; /* Responsive font size */
    font-weight: bolder; 
}

.projects h3 {
    position: relative;
    margin: 0;
    font-size: 2rem; /* Responsive font size */
    font-weight: bold;
    color: rgb(134, 2, 2); 
    text-shadow: 2px 2px 4px #000;
}

.projects p {
    position: relative;
    justify-content: left;
    font-size: 1.5rem; /* Responsive font size */
    color: #dbcfcf;
    overflow: hidden;
}

.projects a {
    position: relative;
    margin: 5px 0 0;
    font-size: 2.5rem; /* Responsive font size */
    color: #dbcfcf;
    padding: 0;
}



.projects h2 {
    position: relative;
    justify-content: left;
     margin-bottom: 15px; 
    color: rgb(134, 2, 2);
    text-shadow: 2px 2px 4px #000; 
    font-size: 8vw;
    overflow: hidden;
    font-weight: bolder; 
    max-width: auto;
}




.projects h3 {
    position: relative;
    margin: 0;
    font-size: 1.2dvw;
    font-weight: bold;
    color: rgb(134, 2, 2); 
    text-shadow: 2px 2px 4px #000; 
    max-width: auto;
}

.projects p {
    position: relative;
    justify-content: left;
    font-size: 2dvw;
    color: #dbcfcf;
    max-width: auto;
    flex-flow: wrap;
    overflow: hidden;
} 



.iframe {
    margin-top: 20px;
    border: none;
    width: 560px;
    height: 315px;
    position: fixed;
  } */



footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    padding: 1vh 0;
}
